body {
    font-family: Arial, sans-serif;
   
}

h1 {
    text-align: center;
}

#product-list {
    margin: 20px auto;
    width: 60%;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    
}
